# developer local server configuration
# copy to 'server.config.properties'

#api.port=8181

# Uncompiled source - access with URL = http://localhost:8181/src/html/codeshelf.dev.html 
#webapp.content.path=../CodeshelfUX

# Compiled source - access with URL = http://localhost:8181/
#webapp.content.path=../CodeshelfUX/target/web

# manager db
#manager.db.url=jdbc:postgresql://localhost:5432/database
#manager.db.schema=manager
#manager.db.username=codeshelf
#manager.db.password=codeshelf

# default shard db
#shard.default.db.url=jdbc:postgresql://localhost:5432/database
#shard.default.db.admin_username=codeshelf
#shard.default.db.admin_password=codeshelf

# default tenant
#tenant.default.schema=codeshelf
#tenant.default.username=codeshelf
#tenant.default.password=codeshelf
