/eclipse-bin
/build
/target
/lib
activemq-data
trace.db
logs
showprefs.properties
.ebean.h2.dictionary
.ebean.h2.autofetch
database
nbbuild
example-src
compare-file-2.txt
$jarplug.work
resources.jar
compare-file-1.txt
*.log
/autofetch*.csv
/*.autofetch
/.DS_Store
/lib/.DS_Store
/.projectile
/.apt_generated/
lib/.DS_Store
lib/dist/.DS_Store
.DS_Store
/.gradle
.classpath
/local/*.properties
/.settings/org.eclipse.jdt.core.prefs
