[Desktop Entry]
Encoding=UTF-8
Name=CodeShelf
Comment=Manages your CodeShelf Network
Exec=/opt/CodeShelf/codeshelf.sh
Icon=/opt/CodeShelf/codeshelf.ico
Terminal=false
Type=Application
Categories=GNOME;Application;Network
StartupNotify=true