A new Codeshelf user account has been created for you. In order to complete the process, you need to create a password and customize your account.

Please click the following link to set up your Codeshelf account.

$setup_url?CSTOK=$token

If you were not expecting to get this email, please contact Customer Support.

For information about Codeshelf, visit https://www.codeshelf.com/

Thank you,
Codeshelf Customer Support
