Your account has been reset, allowing you to set a new password and security questions. 

Please click the following link to regain access to your Codeshelf account.

$reset_url?CSTOK=$token

If you were not expecting to get this email, please contact Customer Support.

For information about Codeshelf, visit https://www.codeshelf.com/

Thank you,
Codeshelf Customer Support
