Your Codeshelf user account password was recently changed. If you changed your password on purpose, you may disregard this email.

However, if you did not intentionally change your Codeshelf password, please contact Customer Support.

For information about Codeshelf, visit https://www.codeshelf.com/

Thank you,
Codeshelf Customer Support
